*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

@font-face
{
    font-family: UTM_Helve;
    src: url("/Styles/CSS/Font/UTM_Helve/UTM HELVE.TTF");
}

@font-face
{
    font-family: SanNeoIntel;
    src: url("/Styles/CSS/Font/SanNeoIntel/UTM NEO SANS INTEL.TTF");
}

body, .line-fix-parent-width, #MainForm, .img, .link
{
    float: left;
    width: 100%;
}

body
{
    height: 100%;
}

.img
{
    height: 100%;
}

.link
{
    height: 100%;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

html, #aspnetForm, .contaner
{
    float: left;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.bg, .bg-sub
{
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg
{
    background-image: url("/Design/bg.jpg");
}

.bg-sub
{
    background-image: url("/Design/bg-main.jpg");
}

.logo-bg
{
    float: left;
    width: 43%;
    height: 369px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url("/Design/logo-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (min-height : 810px)
{
    .bg
    {
        background-image: url("/Design/bg-b.jpg");
    }

    .bg-sub
    {
        background-image: url("/Design/bg-main-b.jpg");
    }
}

.contaner-wrap
{
    float: left;
    width: 74.074%;
    margin-left: 12.693%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo
{
    float: left;
    width: 16.9%;
    height: 16.323%;
    position: absolute;
    top: 0px;
    left: 2%;
}

/*CSS for menu ngang*/
.vnav
{
    float: right;
    width: 83.5%;
    height: 49px;
    position: absolute;
    right: 0px;
    top: 5.735%;
    background-image: url("/Design/nav-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.vnav-wrap
{
    /*float: left;
    width: 80%;
    height: 100%;
    margin-left: 20%;*/
    float: left;
    width: 50%;
    margin-left: 11%;
    position: fixed;
    z-index: 1;
}

.nav
{
}

    .nav ul
    {
        margin: 0 auto;
    }


        .nav ul li
        {
            float: left;
            height: 49px;
            font-family: "SanNeoIntel";
        }

.vnav-wrap > ul > li
{
    border-left: 1px solid #5bb7f0;
    border-right: 1px solid #4da3ee;
}

    .vnav-wrap > ul > li:first-child
    {
        border-left: none;
    }

    .vnav-wrap > ul > li:last-child
    {
        border-right: none;
    }

.nav ul li a
{
    padding: 13px;
    margin-top: 5px;
    color: #FFF;
    font-size: 14px;
    float: left;
}



.nav > ul > li > a
{
    padding: 6px 5%;
    font-size: 1vw;
    width: 89%;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
}

.nav ul li a span
{
    float: left;
    width: 100%;
    text-align: center;
}

.nav > ul > li:first-child
{
    /*border-left: none;*/
}

.nav > ul > li:last-child a
{
    /*border-right: 1px solid #004104;*/
}


.nav li.active
{
    background-color: rgba(1, 81, 133, 0.1);
}

    .nav li.active > a
    {
        color: #FFF;
    }

.nav > ul li:hover
{
}

    .nav > ul li:hover a
    {
        color: #FFF;
    }

.vnav-wrap > ul > li:hover
{
    color: #FFF;
    background-color: rgba(1, 81, 133, 0.1);
    /*background-color: rgba(74, 155, 237, 0.8);*/
}

.nav > ul > li.has-sub > ul
{
    top: 101%;
    left: -1px;
    z-index: 10;
}

.nav > ul > li.has-sub
{
}

.has-sub span.arrow
{
    text-align: center;
    margin-left: 3px;
}


.has-sub
{
    position: relative;
}

    .has-sub > ul
    {
        position: absolute;
        width: 100%;
        height: 0px;
        overflow: hidden;
        top: 49px;
        transition: all .4s linear;
    }

        .has-sub > ul > li
        {
            background-color: rgba(85, 179, 240, 1);
            width: 200px !important;
            height: 0px;
            overflow: hidden;
            border-top: 1px solid #C0C0C0;
            padding-left: 0;
            padding-right: 0;
            text-align: left;
        }

            .has-sub > ul > li > a > span
            {
                float: left;
                width: 90%;
                font-size: 14px;
                text-align: left;
            }

            .has-sub > ul > li:first-child
            {
                border-top: none;
            }

            .has-sub > ul > li:last-child
            {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            .has-sub > ul > li.active
            {
                background-color: rgba(74, 155, 237, 0.8);
            }

        .has-sub > ul li a, .has-sub > ul li:hover a
        {
            width: 100%;
            color: #FFF;
        }

    .has-sub:hover > ul
    {
        width: 200px;
        height: auto;
    }

        .has-sub:hover > ul > li
        {
            float: left;
            width: 100%;
            height: auto;
        }

    .has-sub > ul > li:hover
    {
        background-color: rgba(74, 155, 237, 0.8);
    }

/*CSS For footer*/
.footer
{
    float: left;
    width: 100%;
    height: 147px;
    position: fixed;
    bottom: 0px;
}

.footer-wrap
{
    float: left;
    width: 74.074%;
    height: 8.163%;
    margin-left: 12.693%;
    margin-bottom: 7px;
    position: absolute;
    bottom: 0px;
    font-family: Arial;
    font-size: 12px;
    color: #00488f;
}

    .footer-wrap p:first-child
    {
        float: left;
        height: 100%;
    }

    .footer-wrap p:last-child
    {
        float: right;
        height: 100%;
    }

        .footer-wrap p:last-child > a
        {
            color: #00488f;
        }

.body
{
    float: left;
    width: 100%;
    height: 100%;
}

.left, .right
{
    float: left;
    height: 70.588%;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.left
{
    width: 25.9%;
    margin-right: 2.9%;
    left: 0px;
}

.left-wrap
{
    float: left;
    width: 80%;
    height: 59%;
    margin-left: 10%;
    margin-top: 20%;
    overflow: scroll;
}

.hnav, .hnav > ul
{
    float: left;
    width: 100%;
    height: 100%;
}

    .hnav > ul
    {
    }

        .hnav > ul > li
        {
            float: left;
            width: 100%;
            padding-bottom: 11px;
        }

            .hnav > ul > li > a
            {
                font-family: Arial;
                font-size: 15px;
                color: #0359ad;
            }

.dot
{
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #085caf;
    margin-top: 5px;
    margin-right: 5px;
}

.sep
{
    float: left;
    width: 100%;
    height: 1px;
    margin-top: 11px;
    background-image: url("/Design/sep.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.right
{
    width: 71%;
    right: 0px;
}

.right-wrap
{
    float: left;
    width: 91.5%;
    height: 59.5%;
    margin-left: 4.25%;
    margin-top: 5%;
    /*overflow: scroll;*/
    overflow: hidden;
}

.block, .block-head, .block-body
{
    float: left;
    width: 100%;
}

.block
{
    height: 100%;
}

.block-head
{
    padding-bottom: 22px;
}

    .block-head h1
    {
        float: left;
        width: 100%;
        font-family: "SanNeoIntel";
        font-size: 25px;
        color: #0359ad;
    }


.block-body
{
    height: 83.7%;
    font-family: Arial;
    font-size: 13px;
    color: #343434;
    text-align: justify;
    line-height: 16px;
    overflow: scroll;
}

    .block-body img
    {
        float: left;
        margin-right: 9px;
        margin-bottom: 5px;
    }

.contact-wrapper
{
    float: left;
    width: 91.5%;
    height: 59.5%;
    margin-left: 4.25%;
    margin-top: 5%;
    overflow: scroll;
}
